 
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@font-face {
    font-family: "Egr Dashboard";
    font-weight: normal;
    src: url(../icons/games-dashboard.woff);
}
html,body {
    height: 100%;
}
html {
    overflow: hidden;
    font-size: 16px;
}
body {
    overflow-y: scroll;
    font-size: 100%;
    line-height: 1.25em;
    font-family: 'Open Sans';
    font-weight: 400;
}

/* general style rules */
.egr-dashboard-icon {
    font-family: "Egr Dashboard";
}
.open-sans-light {
    font-family: "Open Sans" !important;
    font-style: normal !important;
    font-weight: 300 !important;
}
.open-sans-semibold {
    font-family: "Open Sans" !important;
    font-style: normal !important;
    font-weight: 600 !important;
}
.open-sans-bold {
    font-family: "Open Sans" !important;
    font-style: normal !important;
    font-weight: 700 !important;
}
.open-sans-extrabold {
    font-family: "Open Sans" !important;
    font-style: normal !important;
    font-weight: 600 !important;
}
textarea {
    resize: none;
    width: 100%;
    height: 100% !important;
    background-color: #FFF;
}
.lightBoldText {
    font-weight: normal;
    color: #5D5D5D;
}
.lightHeading {
    background-color: #F7F7F7;
    margin: 0;
    padding: 10px;
    font-size: 1.2em;
    height: 2.6em;
}
.verticalAlignMiddle {
    display: table;
    width: 100%;
    height: 100%;
}
    .verticalAlignMiddle > * {
        display: table-cell;
        vertical-align: middle;
    }
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
.bigIcon { font-size: 22px;}
[stacked-resize] {
    height: 100%;
    position: relative;
}
    [stacked-resize] > * {
        min-height: 2em;
    }

[accordion] > .panel-group {
    margin-bottom: 0;
}
    [accordion] .panel-heading {
        padding: 5px;
    }
/*         [accordion] h4.panel-title { */
/*             font-size: 1em; */
/*             font-weight: bold; */
/*         } */
/*             [accordion] h4.panel-title .mainTitle { */
/*                 white-space: nowrap; */
/*                 overflow-x: hidden; */
/*                 max-width: 100%; */
/*             } */
/*             [accordion] h4.panel-title a i { */
/*                 padding-right: 10px; */
/*                 line-height: .8em; */
/*             } */
/*             [accordion] h4.panel-title .row > [class*="col-md-"] { */
/*                 margin-right: 0; */
/*                 padding-right: 0; */
/*             } */
    [accordion] .panel-collapse.collapsing {
        -webkit-transition: none;
        transition: none;
    }
    [accordion] .panel-body {
        background-color: #E3E3E3;
        padding: 10px;
    }
/* end general styles */

div[ng-controller] .well {
    border-radius: 0;  
}
.userGroup > .well[scroll-glue="true"],
#sidebarContainer .well[scroll-glue="true"] {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.mainContainer,
.mainRow,
.mainColumn,
div[ng-controller='UserGroups'],
div[ng-controller='UserGroups'] .userGroups,
div[ng-controller='UserGroups'] > .userGroup,
div[ng-controller='UserGroups'] > #sidebarContainer {
    height: 100%;
}

div[ng-controller='UserGroups'] .userGroup,
div[ng-controller='UserGroups'] #sidebarContainer {
    display: inline-block;
    float: left;
    position: relative;
    height: 100%;
    box-sizing: border-box;
}
div[ng-controller='UserGroups']:not(.sidebarOpen) #sidebarContainer {
    width: 50px !important;
    float: right;
    height: auto;
}
    div[ng-controller='UserGroups']:not(.sidebarOpen) #sidebarContainer .sidebar > :not(:first-child) {
        display: none !important;
    }
    div[ng-controller='UserGroups']:not(.sidebarOpen) #sidebarContainer .sidebar > .closeSidebar.well:first-child {
        max-height: 50px !important;
        min-height: 0 !important;
    }

#sidebarContainer .well {

}
    #sidebarContainer .well .sidebarGroup {
        border: 1px solid #CCC;
        padding: 3px 4px;
    }
    #sidebarContainer .well {
        margin: 5px 0;
    }
    #sidebarContainer .sidebar > .closeSidebar.well:first-child {
        min-height: 0 !important;
        max-height: 100px;
        padding: 5px 10px;
        margin: 0;
        font-size: .65em;
    }
    #sidebarContainer .mentorRoster {
        margin-bottom: 0 !important;
    }
    #sidebarContainer .mentorChat,
    #sidebarContainer .chatInputArea {
        padding: 0;
        margin: 0;
    }
    #sidebarContainer .mentorChatUser {
        display: inline-block;
        white-space: nowrap;
        overflow-x: hidden;
        border: 1px solid #CCC;
        background-color: #EEE;
        padding: 5px;
        margin: 0;
        width: 25%;
    }
.userGroup > .well,
#sidebarContainer .sidebar > .well:not(.mentorChat) {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
}
    .userGroup > .well:not(:last-child),
    #sidebarContainer .sidebar > .well:not(.mentorChat):not(:last-child) {
        margin-bottom: 0;
    }
.groupRosterWell.well {
    padding: 0;
    margin: 0;
    border: 1px solid #A2B4BF;
}
    .groupRosterWell .userGroupName {
        font-size: .85em;
        color: #CFEBFC;
        background-color: #2D4759;
    }
        .groupRosterWell .userGroupName > * {
            padding: 9px;
            margin: 0;
        }
        .groupRosterWell .rosterWell {
            background-color: #2D4759;
        }
            .groupRosterWell .rosterWell .rosterPlayer {
                color: #A5CDEB;
                border: 4px;
                border-top: 6px solid;
                border-color: #A5CDEB;
                font-size: .5em;
                max-height: 3em;
                overflow-y: hidden;
                font-family: os-bold;
                padding: 2px;
                padding-bottom: 4px;
                display: inline-block;
                text-align: center;
            }
                .groupRosterWell .rosterWell .rosterPlayer.active {
                    color: #A5CDEB;
                    border-color: #A5CDEB;
                }
                .groupRosterWell .rosterWell .rosterPlayer.inactive {
                    color: #6388A3;
                    border-color: #6388A3;
                }
                .groupRosterWell .rosterWell .rosterPlayer.offline {
                    color: #3E5B70;
                    border-color: #3E5B70;
                }
     .groupRosterWell .taskWell {
     
     }
        .groupRosterWell .taskWell .panel {
            margin: 0;
        }
        .groupRosterWell .taskWell .roomTasks,
        .groupRosterWell .taskWell .roomTasks * {
            background-color: #E9F3F8;
            background-image: none;
            border-radius: 0;
        }
            .groupRosterWell .taskWell .panel-heading {
                border-radius: 0;
                border: none;
                border-top: 1px solid #FCFEFF;
                border-bottom: 1px solid #BCCBD6;
                padding: 3px;
                margin: 0;
            
                overflow: hidden;
                font-size: 1.4em;
                font-weight: 400;
}
            .groupRosterWell .taskWell .panel-heading h4.panel-title {
font-weight: 400;
                
                color: #8697A3;
                font-size: .52em;
                padding: 5px;
                margin: 0;
            }
                .groupRosterWell .taskWell .panel-heading h4.panel-title a {
                    display: table;
                    width: 100%;
                }
                    .groupRosterWell .taskWell .panel-heading h4.panel-title a:hover {
                        text-decoration: none;
                    }
                    .groupRosterWell .taskWell .panel-heading h4.panel-title a > span {
                        display: table-row;
                    }
                    .groupRosterWell .taskWell .panel-heading h4.panel-title a > span > span {
                        display: table-cell;
                        vertical-align: middle;
                    }
                        .groupRosterWell .taskWell .panel-heading h4.panel-title .timeDue {
                            width: 5%;
                            color: #BCCBD6;
                        }
                        .groupRosterWell .taskWell .panel-heading h4.panel-title .roomNameSpan {
                            width: 80%;
                            overflow: hidden;
                            max-height: 2em;
                        
                            font-weight: 600;
                            padding: 2px;
}
                        .groupRosterWell .taskWell .panel-heading h4.panel-title .opener {
                            width: 5%;
                            color: #BCCBD6;
                        }
        .groupRosterWell .taskWell .panel-collapse .panel-body {
            padding: 0px;
            border: none;
        }
            .groupRosterWell .taskWell .task {
                display: inline-block;
                height: 100%;
                border: none;
                border-left: 1px solid #BCCBD6;
                border-right: 1px solid #BCCBD6;
                padding: 3px;
                color: #A5CDEB;
            
}
                .groupRosterWell .taskWell .task a i {
                    color: #A5CDEB;
                }
                    .groupRosterWell .taskWell .task.submitted a i {
                        color: #2D4759;
                    
}
                    .groupRosterWell .taskWell .task.witnessed a i {
                        color: #D6E4EB;
                    }
                .groupRosterWell .taskWell .task:first-child {
                    border-left: none;
                }
                .groupRosterWell .taskWell .task:last-child {
                    border-right: none;
                }

.assessmentWell {
    text-align: center;
    max-height: 5em;
    min-height: 2em;
}
.userGroup > .chatfeedWell.well {
    min-height: 15%;
    border: 1px solid #A2B4BF;
    background-color: #FFF;
    background-image: none;
}
    .chat.suggestion-ready {
        background-color: rgba(255, 200, 200, .5);
        padding-top: 2px;
        padding-bottom: 2px;
    }
        .chat > .chatArea {
            background-color: #FFF;
            font-size: .85em;
            color: #2D4759;
            padding: 5px 15px 25px 15px;
        }
            .chat > .chatArea .chatTitle {
                color: #8DB8D6;
            }
        .chat .chatInfo {
            color: #2D4759;
            background-color: #E6E6E6;
            padding: 3px 15px;
            font-size: .625em;
        }
            .chat > .chatInfo .midtext {
                font-size: 1.2em;
                line-height: 1.2em;
            }

.userGroup .suggestionWell.well {
    font-size: .65em;
}
    .userGroup .suggestionWell.well > .table {
        margin: 0;
    }
.chatinputWell.well {
/*     min-height: 36px; */
/*     height: 36px; */
/*     max-height: 80px; */
}
    .userGroup > .chatinputWell.well textarea.form-control {
        min-height: 36px !important;
        height: 36px;
        max-height: 80px !important;
        box-sizing: border-box;
        padding: 4px;
        font-size: .8em;
        line-height: 1.25em;
        overflow-y: visible;
    }
.userGroup > :last-child {
    margin-bottom: 0;
}
.reflectionWell.well {}

.userGroup.assessmentReady .rosterWell.well {}
.userGroup.assessmentReady .assessmentWell {
    display: block;
/*     margin-bottom: 0; */
}
.assessmentOpen .userGroup.assessmentReady .assessmentWell {
    max-height: 10% !important;
    background: none;
    background-color: #FFF;
    border-bottom: none;
}
.assessmentOpen .userGroup.assessmentReady .assessmentWell.activeAssessment {
    max-height: 10% !important;
    background-image: linear-gradient(to top, #E8E8E8 0px, #F5F5F5 100%);
}

div[ng-controller='UserGroups'] .groupAssessments,
div[ng-controller='UserGroups'].assessmentOpen .suggestionWell,
div[ng-controller='UserGroups'].assessmentOpen .taskWell,
div[ng-controller='UserGroups'].assessmentOpen .rosterWell,
div[ng-controller='UserGroups'].assessmentOpen #sidebarContainer .sidebar > .well,
div[ng-controller='UserGroups'].assessmentOpen .reflectionWell {
    display: none;
}
div[ng-controller='UserGroups'].assessmentOpen #sidebarContainer .sidebar > .well.closeSidebar, 
div[ng-controller='UserGroups'].assessmentOpen #sidebarContainer .sidebar > .well.mentorChat {
    display: block;
    
}

.assessmentOpen .userGroup > .well {
    min-height: 20px;
}
    .assessmentOpen .userGroup > .well:not(:last-child) {
        margin-bottom: 3px;
    }
div[ng-controller='UserGroups'].assessmentOpen .groupAssessments {
    display: block;
    height: 65%;
    overflow-y: auto;
}
div[ng-controller='UserGroups'].assessmentOpen .userGroups {
    height: 35%;
}

.assessmentOpen .groupAssessments {
    margin: 0;
    overflow-y: auto;
}
    #assessmentPanel .panel-heading {
        padding: 5px 7px;
    }
.assessmentArea {}
    .assessmentArea .assessmentClose {
        margin-right: -13px;
        margin-top: -18px;
    }
    .assessmentArea .infoSection {
        padding-left: 20px;
        padding-top: 20px;
    }
        .assessmentArea .infoSection > div:first-child {
            font-weight: bold;
            font-size: 1.2em;
            margin-bottom: 10px;
        }
        .assessmentArea .infoSection > * {}
#editAndSendTemplate {}
    #editAndSendTemplate .well {
        margin: 0;
    }


.userGroup {
    margin:0 5px;
}

.rosterPlayers {
    font-weight:400;
    
    font-size: 1.5em;
    line-height: 70%;
    padding-bottom: 9px;
}